.root{
    -fx-background-image: url(blurbg.png);
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.label {
    -fx-text-fill: white;
}

.hover {
    -fx-font-weight: bolder;
    -fx-font-family: Arial, Helvetica, sans-serif;
}
.hover:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#nextwordLabel:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.grid-pane {
    -fx-padding: 10px;
    -fx-hgap: 40px;
    -fx-vgap: 40px;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
  
}

#backgroundButton {
    -fx-background-image: url("paper.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 0;
    
}
#textText {
     -fx-fill: white;
    -fx-padding: 5px 10px;
    
    -fx-font-weight: bold;
}

#diamondText {
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-background-color: antiquewhite;
}
#diamondText:hover{
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
#timerLabel {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(0, 0, 0);
}
#wordLabel{
    -fx-background-color: rgba(177, 113, 88, 0.548);
    -fx-font-size: 40px;          /* Makes the text larger */
    -fx-font-weight: bold;        /* Makes the text bold */
    -fx-text-fill: white;  
}
#woods {
    -fx-background-image: url(woodtitle.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 0;
}

#gamelevel {
    -fx-background-image: url(gamelevelboxwoutboards.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 0;
}
#hehe {
    
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 0;
}
#definition {
    -fx-background-image: url(definition.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 0;
}

#animal {
    -fx-background-image: url(easybtn.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 0;
}

#place {
    -fx-background-image: url(moderatebtn.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 0;
}


#fruits {
    -fx-background-image: url(diffbtn.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 0;
}


